{extend name="base" /}{block name="body"}
<body>
<style>
.layui-table-view-1111 .layui-table[lay-size=sm] tbody .layui-table-cell{
	height: 80px;
}
</style>
<div class="ok-body">
	<!--模糊搜索区域-->
	<div class="layui-row">
		<div class="layui-inline">
		<form class="layui-form layui-col-md12 ok-search">
			<input type="hidden" name="status" value="0">
			<div class="layui-inline">
			<input class="layui-input" placeholder="会员ID" autocomplete="off" name="user_id">
			<input class="layui-input" placeholder="会员电话" autocomplete="off" name="tel">
			<input class="layui-input date-range" placeholder="申请时间" autocomplete="off" name="date_range">
			</div>
			<button class="layui-btn" lay-submit="" lay-filter="search">
				<i class="layui-icon">&#xe615;</i>
			</button>
		</form>
		</div>
		<div class="layui-inline layui-btn-group toolbtn" style="float: right;">
			<button type="button" class="layui-btn layui-btn-warm">总USDT数量：<span id="totalUsdt">0</span></button>
	  		<button type="button" class="layui-btn layui-btn-danger">提现金额：<span id="total-money">0</span></button>
			<button type="button" class="layui-btn layui-btn-warm">手续费：<span id="total-fee">0</span></button>
			<button type="button" class="layui-btn">实际支出：<span id="total-real">0</span></button>
		</div>
	</div>
	<!--数据表格-->
	<table class="layui-hide" id="dataTable" lay-filter="dataTable"></table>
</div>
<script>
listPageInit({
	name:"提现申请",
	toolbar:'#mytoolbarTpl',
	defaultToolbar: ['filter', 'exports'],
	done:function(res, curr, count){
		let $ = layui.jquery;
		var s = $("input[name=status]").val();
		if(s=="")s="All"
		$(".toolbtn .layui-btn-primary").removeClass("layui-btn-primary");
		$(".toolbtn button[lay-event=searchStatus"+s+"]").addClass("layui-btn-primary");
		
		//加载列表统计数据
		var data = {};
		$(".ok-search").serializeArray().forEach(function(row){
			  data[row.name]=row.value;
		});
		
		$.post("/cash/listReport",data,function(res){
			var data = res.data;
			$("#total-money").text(data.money);
			$("#total-fee").text(data.fee);
			$("#total-real").text(data.real);
			$("#totalUsdt").text(data.totalUsdt);
		});
	},
	cols:[[
		{type: "checkbox", fixed: "left"},
		{field: "id", title: "ID", width: 80, sort: true},
		{field: "user_id", title: "会员ID", width: 150},
		{field: "username", title: "电话", width: 150},
		{field: "channel", title: "提现方式", width: 200},
		{field: "money", title: "提现金额", width: 150},
		{field: "money2", title: "USDT个数", width: 150},
		{field: "fee", title: "手续费", width: 150},
		{field: "money_real", title: "实际提现金额", width: 150},
		
		// {field: "user_bank_num", title: "店番", width: 150},
		// {field: "user_bank_name", title: "银行", width: 150},
		// {field: "user_bank_branch", title: "支店", width: 150},
		// {field: "user_bank_username", title: "姓名", width: 150},
		// {field: "user_bank_account", title: "账号", width: 150},
		{field: "ustd_link", title: "USDT地址", width: 150},
		
		{field: "create_time", title: "提交时间", width: 150},
		{field: "status_name", title: "状态", width: 150},
		{title: "操作", width: 80, align: "center", templet: "#myoperationTpl", fixed: "right"}
	]],
	afterPageInit:function(toolFunction){
		
		let okUtils = layui.okUtils;
		let $ = layui.jquery;
		let layer = layui.layer;
		function serachStatus(s){
			$("input[name=status]").val(s);
			$("button[lay-filter=search]").click();
		}
		
		function check(status){
			var checkStatus = layui.table.checkStatus('dataTable');
            var rows = checkStatus.data.length;
            if (rows > 0) {
                var ids = [];
                for (var i = 0; i < rows; i++) {
                    ids.push(checkStatus.data[i].id);
                }
                
                if(status=="-1"){
                	layer.prompt({
               		  formType: 2,
               		  title: '请输入驳回理由',
               		  area: ['800px', '50px'] //自定义文本域宽高
               		}, function(value, index, elem){
               			var memo = value;
               			if(!memo){
        					layui.layer.msg("请输入驳回理由");
        					return;
        				}
               			
               			layui.okLayer.confirm("确定要驳回吗？", function(i){
            				okUtils.ajax("/cash/batchCheck", "post", {ids:ids,status:status,memo:memo}, true).done(function (response) {
                            	layui.table.reload('dataTable');
                            	layer.close(index);
                            	layer.close(i);
            				}).fail(function (error) {
            					console.log(error)
            				});
            			})
               		  	
               		});
    			}else{
    				layui.okLayer.confirm("确定提现成功？", function(index){
        				okUtils.ajax("/cash/batchCheck", "post", {ids:ids,status:status}, true).done(function (response) {
                        	layui.table.reload('dataTable');
                        	layer.close(index);
        				}).fail(function (error) {
        					console.log(error)
        				});
        			})
    			}
            } else {
                layer.msg("未选择有效数据");
            }
		}
		
		toolFunction.searchStatusAll=function(data){
			serachStatus("");
		}
		
		toolFunction.searchStatus0=function(data){
			serachStatus("0");
		}
		
		toolFunction.searchStatus1=function(data){
			serachStatus("1");
		}
		
		toolFunction.searchStatus2=function(data){
			serachStatus("2");
		}
		
		toolFunction.checkPass=function(data){
			check(1);
		}
		
		toolFunction.checkFail=function(data){
			check(-1);
		}
		
		toolFunction.exportToday=function(data){
			location.href="/cash/exportToday";
		}
		
	}
})
</script>
<script type="text/html" id="userBankTpl">
	开户银行：{{d.user_bank_name}}<br/>
	分行名称：{{d.user_bank_branch}}<br/>
	开户人：{{d.user_bank_username}}<br/>
	银行卡号：{{d.user_bank_account}}<br/>
</script>
<script type="text/html" id="mytoolbarTpl">
	<div class="layui-btn-group toolbtn">
  		<button type="button" class="layui-btn" lay-event="searchStatusAll">全部</button>
		<button type="button" class="layui-btn" lay-event="searchStatus0">待审核</button>
		<button type="button" class="layui-btn" lay-event="searchStatus1">成功</button>
  		<button type="button" class="layui-btn" lay-event="searchStatus2">失败</button>
	</div>

	<div class="layui-inline" style="margin-left:50px">
		<button type="button" class="layui-btn layui-btn-normal" lay-event="checkPass">批量审核通过</button>
		<button type="button" class="layui-btn layui-btn-danger" lay-event="checkFail" style="display:none">批量审核失败</button>
	</div>
</script>
<!-- 行工具栏模板 -->
<script type="text/html" id="myoperationTpl">
	<a href="javascript:" title="查看" lay-event="info"><i class="layui-icon">&#xe615;</i></a>
</script>

</body>
{/block}
