{extend name="base" /}{block name="body"}
<body>
<div class="ok-body">
	<div class="layui-row">
		<form class="layui-form layui-col-md12 ok-search">
			<div class="layui-inline"><input class="layui-input" placeholder="关键词" autocomplete="off" name="name"></div>
			<button class="layui-btn" lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
		</form>
	</div>
	<!--数据表格-->
	<table class="layui-hide" id="dataTable" lay-filter="dataTable"></table>
</div>
<script>
listPageInit({
	name:"新闻资讯",
	size:'lg',
	cols:[[
		{type: "checkbox", fixed: "left"},
		{field: "id", title: "ID", width: 80, sort: true},
		{field: "imgurl", title: "图片", templet: "#imgurlTpl",width: 100},
		{field: "title", title: "标题", width: 300},
		{field: "create_time", title: "添加时间", width: 150},
		{field: "notice", title: "公告",templet: "#noticeTpl",width: 150},
		{field: "sort", title: "排序", width: 150,sort:true},
		{title: "操作", width: 80, align: "center", templet: "#operationTpl", fixed: "right"}
	]]
})
</script>

<script id="noticeTpl" type="text/html">
	{{# if(d.notice==1){ }}
		是
	{{# }else{ }}
		否
	{{# } }}
</script>
</body>
{/block}
