{extend name="base" /}{block name="body"}
<body>
<div class="ok-body">
	<div class="layui-row">
		<form class="layui-form layui-col-md12 ok-search">
			<div class="layui-inline">
				<select name="status">
					<option value="">状态</option>
					{foreach $Think.config.sys.task_apply_status as $key=>$val }
					<option value="{$key}">{$val}</option>
					{/foreach}
				</select>
			</div>
			<div class="layui-inline"><input class="layui-input date-range" placeholder="申请时间" autocomplete="off" name="date_range"></div>
			<button class="layui-btn" lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
		</form>
	</div>
	<!--数据表格-->
	<table class="layui-hide" id="dataTable" lay-filter="dataTable"></table>
</div>
<script>
listPageInit({
	name:"任务审核",
	toolbar:false,
	cols:[[
		{type: "checkbox", fixed: "left"},
		{field: "id", title: "ID", width: 80, sort: true},
		{field: "title", title: "任务标题", width: 150},
		{field: "money", title: "悬赏金额", width: 150},
		{field: "type", title: "任务类型", width: 150},
		{field: "ask", title: "要求", width: 150},
		{field: "vipcard", title: "任务等级", width: 150},
		{field: "user", title: "用户", width: 150},
		{field: "create_time", title: "申请时间", width: 150},
		{field: "status", title: "状态", width: 150},
		{title: "操作", width: 80, align: "center", templet: "#myoperationTpl", fixed: "right"}
	]]
})
</script>

<script type="text/html" id="myoperationTpl">
	<a href="javascript:" title="查看" lay-event="info"><i class="layui-icon">&#xe615;</i></a>
</script>
</body>
{/block}
