{extend name="base" /}{block name="body"}
<body>
<div class="ok-body">
	<div class="layui-row">
		<form class="layui-form layui-col-md12 ok-search">
			<div class="layui-inline"><input class="layui-input" placeholder="关键词" autocomplete="off" name="name"></div>
			<button class="layui-btn" lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
		</form>
	</div>
	<!--数据表格-->
	<table class="layui-hide" id="dataTable" lay-filter="dataTable"></table>
</div>
<script>
listPageInit({
	name:"火币",
	cols:[[
		{type: "checkbox", fixed: "left"},
		{field: "id", title: "ID", width: 80, sort: true},
		{field: "name", title: "名称", width: 200},
		{field: "service", title: "服务", width: 200},
		{field: "linkurl", title: "链接", width: 150},
		{field: "status", title: "状态", templet:"#statusTpl",width: 150},
		{field: "sort", title: "排序", width: 100},
		{title: "操作", width: 80, align: "center", templet: "#operationTpl", fixed: "right"}
	]]
})
</script>

<script id="statusTpl" type="text/html">
	{{# if(d.status==1){ }}
		显示
	{{# }else{ }}
		隐藏
	{{# } }}
</script>
</body>
{/block}
