{extend name="base" /}{block name="body"}

<body>
<div class="ok-body">
	<form class="layui-form ok-form layui-form-pane" lay-filter="formFilter">
		<div class="layui-form-item">
			<label class="layui-form-label">账号</label>
			<div class="layui-input-block">
				<input type="text" name="username" readonly="readonly" autocomplete="off" class="layui-input">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">上级ID</label>
			<div class="layui-input-block">
				<input type="text" name="top1"  placeholder="请输入调整到的上级会员ID" autocomplete="off" class="layui-input">
			</div>
		</div>
		
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button type="button" class="layui-btn" id="save">确定</button>
			</div>
		</div>
	</form>
</div>
<script>
layui.use(["jquery","layer","okLayer", "okUtils"], function () {
	let layer = layui.layer;
	let okLayer = layui.okLayer;
	let okUtils = layui.okUtils;
	let $ = layui.jquery;
	
	var id = getQueryParam("id");
	var account = getQueryParam("account");
	
	$("input[name=username]").val(account);
	
	$("#save").on("click",function(){
		var top1 = $("input[name=top1]").val();
		if(!top1){
			layer.msg('请输入调整到的上级会员ID');
			return;
		}
		
		okUtils.ajax("/user/changeTeam", "post",{top1:top1,user_id:id}, true).done(function (res) {
			okLayer.greenTickMsg("保存成功", function () {
				parent.layer.close(parent.layer.getFrameIndex(window.name));
			});
		}).fail(function (error) {
		    console.log(error);
		});
	})
})
</script>
</body>
{/block}